<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
  </head>
  <body>
      <div class="container-fluid" role='main'>
          <div class="panel panel-default">
                <div class="panel-body">  
                    <% include partials/content/form.ejs %>
                    <% include partials/content/ratings.ejs %>
                    <% include partials/template/foot.ejs %>
              </div>
          </div>
      </div>
  </body>
</html>
