<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/public/head.ejs %>
  </head>
  <body>
      <div class="container-fluid" role='main'>
          <% include partials/content/public/splash.ejs %>
        </div>
      <% include partials/template/public/foot.ejs %>
  </body>
</html>
