    <title><%= languagePack[0] %></title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.min.css' />
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/app.min.js"></script>