    <title><%= languagePack[0] %></title>
    <meta name="description" content="EasyPoll - Lightweight, easy to use polling tool that allows teaching staff to gather asynchronous feedback within the Cardiff University Learning Central Virtual Learning Environment (Blackboard) for a variety of purposes, including gauging student opinion, gathering feedback, facilitating voting and stimulating thought and debate.">
    <meta name="author" content="Christopher John">
    <meta name="keywords" content="SOCSI, Blackboard, EasyPoll">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:url"           content="https://github.com/SOCSIELEARNING/EasyPoll" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="EasyPoll" />
    <meta property="og:description"   content="EasyPoll - Lightweight, easy to use polling tool that allows teaching staff to gather asynchronous feedback within the Cardiff University Learning Central Virtual Learning Environment (Blackboard) for a variety of purposes, including gauging student opinion, gathering feedback, facilitating voting and stimulating thought and debate." />
    <meta property="og:image"         content="images/easypoll.png" />
    <link rel="icon" type="image/png" href="images/icons/favicon.png">
    <link rel="apple-touch-icon" href="images/icons/apple-touch-icon-57-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/icons/apple-touch-icon-144-precomposed.png">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/base.min.css' />
    <% if ( typeof polltype != 'undefined' ) {%>
        <link rel="stylesheet" href="/stylesheets/public.<%= polltype %>.min.css" />
    <% } %>
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/public.min.js"></script>