body {
    font-family:'Open Sans',Helvetica,Arial,sans-serif;
    margin-top:20px
}

.easypoll-ratings {text-align:center}

h1, h2, p {margin:0px; padding:0px}
h1 {font-size:5.0em}

#ratings-form, #ratings-form-submit {display:none}

.lbl, input[type="radio"] {display:none}

.easypoll-radio {
    width: 30px;
    height: 30px;
    background-repeat:no-repeat;
    display:inline-block;
    margin:3px;
}
.easypoll-form label {cursor:pointer}

.radio-inline-0 {
    background-image: url(../images/star-1.png);
}
.radio-inline-1, .radio-inline-2, .radio-inline-3, .radio-inline-4 {
    background-image: url(../images/star-2.png);
}
.radio-inline-5 {
    background-image: url(../images/star-3.png);
}
.radio-inline-6, .radio-inline-7, .radio-inline-8, .radio-inline-9 {
    background-image: url(../images/star-4.png);
}
.radio-inline-10 {
    background-image: url(../images/star-5.png);
}
.radio-inline-true {
    background-image: url(../images/star-5-blue.png);
}
.radio-inline-false {
    background-image: url(../images/star-1-blue.png);
}