<% if ( typeof labels != 'undefined' && typeof ratings != 'undefined' && typeof total != 'undefined' && typeof rating != 'undefined' ) {%>
    <div class="easypoll-star-rating">
        <% if (labels.length!=0 && ratings.length!=0 && total!=0) {%>
            <% for (var i=0; i<labels.length; i++) { %>
                <% if (((rating/total).toFixed(2))>=(i+1)) {%>
                    <div class="easypoll-radio radio-inline-10"></div>
                <% } else if (((rating/total).toFixed(2))>i && ((rating/total).toFixed(2))<(i+1)) { %>
                    <% if ((((String(((rating/total).toFixed(2)))).split('.'))[1]).charAt(0)=='0') {%>
                        <div class="easypoll-radio radio-inline-1"></div>
                    <% } else { %>
                        <div class="easypoll-radio radio-inline-<%= (((String(((rating/total).toFixed(2)))).split('.'))[1]).charAt(0) %>"></div>
                    <% } %>
                <% } else { %>
                    <div class="easypoll-radio radio-inline-0"></div>
                <% } %>
            <% } %>
        <% } %>
    </div>
<% } %>